body {
  /*margin-top: 0px;
  padding-top: 0px;*/
  /*font-size: 12px;*/
  font-size: 0.9rem;
}
h1, h2 {
  margin-top: 2px;
}
#questionnaire {
  color: blue;

/*
#formulaire {
  display: flex;
  flex-direction: column;
}

#questionnaire {
  color: blue;
  justify-content:;
  flex: 2;
  text-align: center;
  margin-right: 2rem;
}

#form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start
  text-align:center;
}

.champ {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-align: center;
}

.champ_lab {
  flex: 1;
}

#imput {
  flex: 2;
}

#students {
  color: green;  
}

#students > table > tr > td {
  display: flex;
  align-items: flex-start;
 
}*/

/*#students > thead > tr > th.address {
width: 40%;
}
#students th[data-sort] {
cursor: pointer;
}
.col-2{
float: left;
width: 20%;
text-align: center;
margin-bottom: 15px;
}*/

/*.col-3{
float: left;
width: 25%;
text-align: center;
margin-bottom: 15px;
}
.col-4{
float: left;
width: 33%;
text-align: center;
margin-bottom: 15px;
}
.col-10{
float: left;
width: 80%;
text-align: center;
margin-bottom: 15px;
padding: 0 10px;
}*/
#toolbar,
#header {
  height: 40px;
}

#toolbar * {
  vertical-align: middle;
}

input {
  padding: 5px;
  margin: 5px;
}

.btn-danger {
  background-color: red;
  color: white;
}

.btn_primary {
  background-color: #367ac3;
  color: white;
}