*, div {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 2px;
  padding: 2px;
  /*font-size: 12px;*/
  font-size: 0.9rem;
}
h1, h2 {
  margin-top: 2px;
}
h1 {
  font-size: 1.5rem;
}
h1 span {
  font-size: 0.7rem;
}

/*input.placeholder {
  font-size: 0.7rem;
}*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
  font-size: 0.7rem;
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
  font-size: 0.7rem;
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
  font-size: 0.7rem;
}
:-moz-placeholder { /* Firefox 18- */
  color: pink;
  font-size: 0.7rem;
}
.help-block {
  color: red;
  font-size: 0.8rem;
}

th {
  padding-bottom:  0px;
}
.col-xs-6, #formulaire {
  padding: 0px;
}

#questionnaire {
  color: blue;
  margin: 0px;
  padding :0px;
}

legend, fieldset {
  margin-bottom: 0px;
}

#toolbar * {
  vertical-align: middle;
}

input {
  padding: 5px;
  margin: 5px;
}

.btn-danger {
  background-color: red;
  color: white;
}

.btn_primary {
  background-color: #367ac3;
  color: white;
}