<div id="formulaire" class="container">
	<h2>Mon Magnifiiiique formulaire</h2>
	<div id="questionnaire" class="row">
		<form id="add-student" class="form-horizontal" name="studentForm" ng-model="$ctrl.studentForm" >
			<fieldset>
				<!-- Form Name -->
				<legend>Questionnaire</legend>
				<!-- Text input-->
				<div class="form-group col-xs-6">
					<label class="col-xs-4 control-label" for="firstname">Prénom : </label>
					<div class="col-xs-6">
						<input id="firstname" name="firstname" ng-model="$ctrl.firstname" ng-pattern="$ctrl.controlName" placeholder="First Name" ng-required="true">
						<!-- <span class="help-block">help</span> -->
					</div>
					<div class="col-xs-6" ng-show="studentForm.$submitted || studentForm.firstname.$touched">
						<div ng-show="studentForm.firstname.$error.required">Tell us your name.
						</div>
					</div>
				</div>
				<div class="form-group col-xs-6">
					<label class="col-xs-4 control-label" for="lastname">NOM : </label>
					<div class="col-xs-6">
						<input id="lastname" name="lastname" ng-model="$ctrl.lastname" ng-pattern="$ctrl.controlName" ng-required="true">
					</div>
					<div class="col-xs-6" ng-show="studentForm.$submitted || studentForm.firstname.$touched">
						<div ng-show="studentForm.firstname.$error.required">Tell us your Last Name.
						</div>
					</div>
				</div>
				<div class="form-group col-xs-6">
					<label class="col-xs-4 control-label" for="Age">Age</label>
					<div class="col-xs-6">
						<input id="age" name="age" ng-model="$ctrl.age" ng-pattern="$ctrl.controlAge" ng-required="true">
					</div>
					<div class="col-xs-6" ng-show="studentForm.$submitted || studentForm.firstname.$touched">
						<div ng-show="studentForm.firstname.$error.required">Tell us your Age.
						</div>
					</div>
				</div>
				<div class="form-group col-xs-6">
					<label class="col-xs-4 control-label" for="address">Adresse</label>
					<div class="col-xs-6">
						<input id="address" class="address" name="address" ng-model="$ctrl.address" ng-pattern="$ctrl.controlAddress" ng-required="true">
						
					</div>
					<div class="col-xs-6" ng-show="studentForm.$submitted || studentForm.firstname.$touched">
						<div ng-show="studentForm.firstname.$error.required">Tell us your Adresse.
						</div>
					</div>
				</div>
				<div class="form-group col-xs-12">
					<label class="col-xs-4 control-label" for="email">Email</label>
					<div class="col-xs-4">
						<input id="email" name="email" ng-model="$ctrl.email" ng-required="true">
						<span class="help-block">help</span>
					</div>
					<!-- Button -->
					<div class="form-group">
						<label class="col-xs-4 control-label" for="singlebutton"></label>
						<div class="col-xs-4">
							<input type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary"
							 ng-click="$ctrl.addRow()"
							ng-disabled="studentForm.name.$dirty && studentForm.name.$invalid ||
  studentForm.email.$dirty && studentForm.email.$invalid"


							 />
						</div>
						<label class="col-xs-4 control-label" for="singlebutton"></label>
						<div class="col-xs-4">
							<input type="reset" id="singlebutton" name="singlebutton" class="btn btn-danger" ng-click="$ctrl.reset()"/>
						</div>
					</div>
				</div>
				
			</fieldset>
		</form>
	</div>
	<div id="data" class="row">
		<form id="data-student" class="form-horizontal" name="dataForm">
			<fieldset>
				<!-- Form Name -->
				<legend>Vos données</legend>
				<!-- Text input-->
				<table >
					<thead>
						<tr>
							<th>first name</th>
							<th>last name</th>
							<th>Age</th>
							<th>address</th>
							<th>email</th>
						</tr>
					</thead>
					<tbody ng-repeat="row in $ctrl.rowCollection">
						<tr>
							<td>{{row.firstname}}</td>
							<td>{{row.lastname}}</td>
							<td>{{row.age}}</td>
							<td>{{row.address}}</td>
							<td>{{row.email}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
