<div id="formulaire">
	<div id="questionnaire">
		<h3>Questionnaire</h3>
		<form id="add-student" name="studentForm" ng-submit="foo()" novalidate>
			<div class="champ">
				<label class="champ_lab" for="firstname">Prénom : </label>
				<input id="firstname" name="firstname" ng-model="$ctrl.firstname" ng-pattern="$ctrl.controlName" placeholder="First Name" ng-required="true">
				<div ng-show="studentForm.$submitted || studentForm.firstname.$touched">
					<div ng-show="studentForm.firstname.$error.required">Tell us your name.</div>
				</div>
				
			</div>
			<div class="champ">
				<label class="champ_lab" for="lastname">NOM : </label>
				<input id="lastname" name="lastname" ng-model="$ctrl.lastname" ng-pattern="$ctrl.controlName" ng-required="true">
			</div>
			<div class="champ">
				<label class="champ_lab" for="Age">Age</label>
				<input id="age" name="age" ng-pattern="$ctrl.controlAge" ng-required="true">
			</div>
			<div class="champ">
				<label class="champ_lab" for="address">Adresse</label>
				<input id="address" class="address" name="address" ng-pattern="$ctrl.controlAdress" ng-required="true">
			</div>
			<div class="champ">
				<label class="champ_lab" for="email">Email</label>
				<input id="email" name="email" ng-required="true">
			</div>
			<button class="btn_primary" ng-click='studentForm.$valid'>Ajoutez</button>
		</form>
	</div>
	<div id="students">
		<h3>Vos données</h3>
		<table >
			<tr>
				<td>{{studentForm.firstname.$valid}}</td>
				<td>{{studentForm.lastname.$valid}}</td>
				<td>{{studentForm.age.$valid}}</td>
				<td>{{studentForm.address.$valid}}</td>
				<td>{{studentForm.email.$valid}}</td>
			</tr>
		</table>
	</div>
</div>